@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

.reboot {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #828282;
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* nav */
.logo1 {
  display: none;
}
.logo2 {
  display: block;
}

.navBarFontSize {
  font-size: 1rem;
}

.fontTitle {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #828282;
}
.prod-info {
  text-align: center;
  font-size: 14px;
  color: #828282;
}

.bgPrimary {
  background-color: #000000;
}
/* home */

.containerHome {
  background-image: url('../assets/img/verdu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tituloHome {
  color: #ffffff;
  font-size: 4.5em;
  font-weight: 700;
}

.back {
  background-color: #00000086;
}
.carrito {
  color: #3216ad;
  background-color: transparent;
}

.btnHome {
  width: 200px !important;
  margin: auto;
}
/* about */
.carrusellMovil {
  display: none;
}
.aboutContainer {
  padding: 50px 130px;
}
.tituloAbout {
  font-size: 2.5em;
  font-weight: 500;
}

.subtituloAbout {
  font-size: 1.2em;
  font-weight: 400;
}
.containerFoto {
  width: 100%;
  min-height: 456px;
  display: block;
  object-fit: cover;
}

.spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
/* horarios */

.horas {
  background-color: #c1989c;
}
.plus-minus-button:focus {
  outline: none;
  box-shadow: none;
}

.button-custom {
  border-color: lightgray;
  color: gray;
}

.disabled-custom {
  background-color: darkgrey;
  border-color: darkgrey;
}

.discounted {
  color: darkgrey;
}

.bg-cart-card-footer {
  background-color: rgb(243, 243, 243);
}

.ok-color {
  border-color: teal;
  color: teal;
}
.card {
  border-radius: 10px;
  border: 1px solid #828282;
}
.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.25s;
}
.card-img-wrap img {
  transition: transform 0.25s;
  width: 100%;
}
.card-img-wrap:hover img {
  transform: scale(1.05);
}
.card-img-wrap:hover:after {
  opacity: 1;
}

.badge-cart-widget {
  background-color: grey;
}

.img-appear {
  width: 100%;
  height: 100%;
}
/* form */
.input {
  width: 50%;
  border-radius: 15px;
  resize: none;
}
.btn-form {
  display: inline-block;
  color: #ffffff;
  padding: 10px 50px;
  background-color: #a5a2bd !important;
}
.custom-footer {
  height: 10vh;
}

.vh-5 {
  height: 7vh;
}

.min-vh-85 {
  min-height: 83vh;
}
.min-vh-75 {
  min-height: 75vh;
}

/* Estilos nuevos para COMO */
.border-color-como {
  border-color: #828282;
}

.border-radius-como {
  border-radius: 10px;
}

.button-color-como {
  background-color: #a5a2bd;
  color: #ffffff;
}

.bg-color-card-como {
  background-color: rgb(246, 246, 246);
}

@media (max-width: 992px) {
  .logo1 {
    display: block;
  }
  .logo2 {
    display: none;
  }
  .tituloHome {
    font-size: 3.5em;
  }
  .aboutContainer {
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .tituloHome {
    font-size: 3em;
  }
  .tituloAbout {
    font-size: 2em;
  }
  .subtituloAbout {
    font-size: 1em;
  }
  .aboutContainer {
    padding: 50px 20px;
  }
  .carrusellMovil {
    display: block;
  }
  .imagenesAbout {
    display: none;
  }
}

@media (max-width: 576px) {
  .tituloHome {
    font-size: 2.5em;
  }
  .tituloAbout {
    font-size: 1.5em;
  }
  .subtituloAbout {
    font-size: 1em;
  }
  .aboutContainer {
    padding: 50px 20px;
  }
}

@media (max-width: 480px) {
  .subTitle {
    font-size: 1em;
  }
}
