@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

.reboot {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #828282;
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* nav */
.logo1 {
  display: none;
}
.logo2 {
  display: block;
}

.navBarFontSize {
  font-size: 1rem;
}
.link-secondary:hover {
  color: white !important;
}
.fontTitle {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #828282;
}
.prod-info {
  text-align: center;
  font-size: 14px;
  color: #828282;
}

.bgPrimary {
  background-color: #000000;
}
/* home */

.containerHome {
  background-image: url('../assets/img/verdu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.containerHome2 {
  background-image: url('../assets/img/fondo-feedback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.tituloHome {
  color: #ffffff;
  font-size: 4.5em;
  font-weight: 700;
}

.back {
  background-color: #00000086;
  height: 75vh;
}
.carrito {
  color: #3216ad;
  background-color: transparent;
}

.btnHome {
  width: 200px !important;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.56);
  transition: 0.4s;
}

.btnHome:hover {
  background-color: #c1989c;
  border-color: gray;
}

/* about */
.carrusellMovil {
  display: none;
}
.aboutContainer {
  padding: 50px 130px;
}
.tituloAbout {
  font-size: 2.5em;
  font-weight: 500;
}

.subtituloAbout {
  font-size: 1.2em;
  font-weight: 400;
}
.containerFoto {
  width: 100%;
  min-height: 456px;
  display: block;
  object-fit: cover;
}
.spanDiv {
  z-index: 90;
  top: 0;
  left: 250px;
  height: 50px;
  background-color: rgb(228, 228, 228);
}
#dropdown-basic {
  z-index: 000;
}
.spinner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
/* horarios */

.horas {
  background-color: #c1989c;
}
.plus-minus-button:focus {
  outline: none;
  box-shadow: none;
}

.button-custom {
  border-color: lightgray;
  color: gray;
}

.disabled-custom {
  background-color: darkgrey;
  border-color: darkgrey;
}

.discounted {
  color: darkgrey;
}

.bg-cart-card-footer {
  background-color: rgb(243, 243, 243);
}

.ok-color {
  border-color: teal;
  color: teal;
}
.card {
  border-radius: 10px;
  border: 1px solid #828282;
}
.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.25s;
}
.card-img-wrap img {
  transition: transform 0.25s;
  width: 100%;
}
.card-img-wrap:hover img {
  transform: scale(1.05);
}
.card-img-wrap:hover:after {
  opacity: 1;
}

.img-appear {
  width: 100%;
  height: 100%;
}
/* carrousell */
.carousel-control-prev {
  top: 50;
  height: 50px;
  margin: auto;
  color: black !important;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.carousel-control-next {
  top: 50;
  height: 50px;
  margin: auto;
  color: black !important;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
/* form */
.input {
  width: 50%;
  border-radius: 15px;
  resize: none;
}
.btn-form {
  display: inline-block;
  padding: 10px 50px;
}

.custom-footer {
  height: 10vh;
}

.vh-5 {
  height: 7vh;
}

.min-vh-85 {
  min-height: 83vh;
}
.min-vh-75 {
  min-height: 75vh;
}

/* Estilos nuevos para COMO */
.border-color-como {
  border-color: #828282;
}

.border-radius-img-como {
  border-radius: 10px 10px 0px 0px;
}
.border-radius-como {
  border-radius: 10px;
}

.border-radius-button-right-como {
  border-radius: 0px 10px 10px 0px;
}

.border-radius-button-left-como {
  border-radius: 10px 0px 0px 10px;
}

.button-color-como {
  background-color: #a5a2bd;
  color: #ffffff;
  transition: 0.4s;
}

.button-color-como:hover {
  background-color: #c1989c;
  border-color: #c1989c;
  color: #ffffff;
}

.button-color-wp {
  background-color: #25d366;
  color: #ffffff;
  transition: 0.4s;
}

.button-color-wp:hover {
  background-color: #128c7e;
  color: #ffffff;
}

.bg-color-card-como {
  background-color: rgb(246, 246, 246);
}

.bg-color-como {
  background-color: rgb(228, 228, 228);
}

.border-color-itemcount-como {
  border-color: #a5a2bd;
}

.itemcount-bigger-font {
  font-size: 1.5em;
}

.link-color-como {
  color: #c1989c;
  transition: 0.3s;
}

.link-color-como:hover {
  color: #a06268;
}

@media (max-width: 992px) {
  .logo1 {
    display: block;
  }
  .logo2 {
    display: none;
  }
  .tituloHome {
    font-size: 3.5em;
  }
  .aboutContainer {
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .tituloHome {
    font-size: 3em;
  }
  .tituloAbout {
    font-size: 2em;
  }
  .subtituloAbout {
    font-size: 1em;
  }
  .aboutContainer {
    padding: 50px 20px;
  }
  .carrusellMovil {
    display: block;
  }
  .imagenesAbout {
    display: none;
  }
  .spanDiv {
    left: 100px;
  }
}

@media (max-width: 576px) {
  .tituloHome {
    font-size: 2.5em;
  }
  .tituloAbout {
    font-size: 1.5em;
  }
  .subtituloAbout {
    font-size: 1em;
  }
  .aboutContainer {
    padding: 50px 20px;
  }
  .input {
    width: 100%;
  }
  .spanDiv {
    left: 90px;
  }
}

@media (max-width: 480px) {
  .logo2 {
    display: none;
  }
  .subTitle {
    font-size: 1em;
  }
  .spanDiv {
    width: 400px;

    left: 80px;
  }
}

@media (max-width: 360px) {
  .spanDiv {
    width: 400px;

    left: 0px;
  }
}
